[submodule "mf/libcli"]
	path = mf/libcli
	url = git@codeup.aliyun.com:69a6db102baf901da4b6bff2/exteral-lib/libcli.git

[submodule "mf/netopeer2"]
	path = mf/netopeer2
	url = git@codeup.aliyun.com:69a6db102baf901da4b6bff2/exteral-lib/netopeer2.git

[submodule "mf/sysrepo"]
	path = mf/sysrepo
	url = git@codeup.aliyun.com:69a6db102baf901da4b6bff2/exteral-lib/sysrepo.git

[submodule "mf/libyang"]
	path = mf/libyang
	url = git@codeup.aliyun.com:69a6db102baf901da4b6bff2/exteral-lib/libyang.git

[submodule "mf/libnetconf2"]
	path = mf/libnetconf2
	url = git@codeup.aliyun.com:69a6db102baf901da4b6bff2/exteral-lib/libnetconf2.git

[submodule "mf/libmf"]
	path = mf/libmf
	url = git@codeup.aliyun.com:69a6db102baf901da4b6bff2/exteral-lib/libmf.git
